<% title "login" %>

<div class="contentMedium">
  <h1><%= t("title.login") %></h1>
  <%= form_for @session do |f| %>
    <%= validation_messages @session %>
    <%= form_field(f, :email, :text, "full") %>  
    <%= form_field(f, :password, :password, "full") %>
    <div class="actionBox">
      <%= f.submit(t("link.login"), :class => "button bBlue right") %>
    </div>
  <% end %>  
</div>

