<% title "update_password" %>

<div class="contentMedium">
  <h1><%= t("title.update_password") %></h1>
  
  <%= form_for @user, :url => update_password_user_path(@user) do |f| %>
    <%= validation_messages @user %>
    <%= form_field(f, :original_password, :password, "full") %>    
    <%= form_field(f, :password, :password, "full") %>    
    <%= form_field(f, :password_confirmation, :password, "full") %>

    <div class="actionBox">
      <%= link_to(t("link.cancel"), user_path(@user), :class => "button bGray left") %>
      <%= f.submit(t("link.update"), :class => "button bBlue right") %>
    </div>
  <% end %>
</div>

