<% 
  title "properties"
  current_top_menu(:properties, :active)
%>

<h1><%= t("title.properties") %></h1>
<div id="propertyIndex">
  <% @properties.each do |property| %>
    <div class="property">
      <div class="propertyActions">
        <%= link_to 'Show', property %> |
        <%= link_to 'Edit', edit_property_path(property) %>
      </div>
      <div class="mainPhoto">
        <%= link_to (property.photos.present? ? image_tag(property.photos.first.photo_url(:small)) : t("message.no_photo")), property %>
      </div>
      <div class="address">
        <div class="street" title="<%= property.street %>"><%= link_to property.street, property %></div>
        <div class="suburbCity" title="<%= "#{property.suburb}, #{property.city}" %>"><%= "#{property.suburb}, #{property.city}" %></div>
        <div class="postcode"><%= property.postcode %></div>
      </div>
      <div class="dotDotDot"></div>
    </div>
  <% end %>
</div>


<%= paginate_list("properties_path", 2) %>

<div class="actions">
  <%= link_to t("link.new_property"), new_property_path, :class => "button bBlue right" %>  
</div>
