<%
  title "show_property"
  current_top_menu(:properties, :semi_active) 
%>

<div class="contentMedium" id="propertyShow">
  <div class="form">
    <div class="photos">
      <% @property.photos.each do |photo| %>
        <div class="photo<%= " main" if (photo.id == @property.main_photo_id) %>">
        <%= image_tag(photo.photo_url(:small)) %>
      </div>
      <% end %>
    </div>
    <div class="clear"></div>
    <%= display_field(@property, :street, :p) %>
    <%= display_field(@property, :suburb, :p) %>
    <%= display_field(@property, :city, :p) %>
    <%= display_field(@property, :postcode, :p) %>
    <%= display_field(@property, :n_room, :p) %>
    <%= display_field(@property, :n_bathroom, :p) %>
    <%= display_field(@property.note, :note, :p) %>
  </div>
  <div class="actions">
    <%= link_to t("link.back"), properties_path, :class => "button bGray left" %>  
    <%= link_to t("link.edit"), edit_property_path(@property), :class => "button bGray left" %>
  </div>
</div>
